# Varsayılan repo sahibi (Her şeyden sorumlu)
*       @tubaauslu

# Bölüm bazlı sorumlular
/Bilgisayar_Muhendisligi/                 @tubaauslu
/Biyomedikal_Muhendisligi/                @tubaauslu
/Elektrik-Elektronik_Muhendisligi/        @tubaauslu
/Enerji_Sistemleri_Muhendisligi/          @tubaauslu
/Fizik_Muhendisligi/                      @tubaauslu
/Gida_Muhendisligi/                       @tubaauslu
/Jeofizik_Muhendisligi/                   @tubaauslu
/Jeoloji_Muhendisligi/                    @tubaauslu
/Kimya_Muhendisligi/                      @tubaauslu
/Makine_Muhendisligi/                     @tubaauslu
/Yapay_Zeka_ve_Veri_Muhendisligi/         @tubaauslu